.parallax1 {
    height: 1200px;
    background-image: url('https://source.unsplash.com/1200x800/?coding');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url('https://source.unsplash.com/1200x800/?coding');
    height: 1200px;
    background-attachment: fixed;
    margin: 0;
}

.parallax-text {
    font-size: 20px;
    position: absolute;
    color: white;
}